body{
    background-color: #071E2E;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding-left: 142px;
    padding-right: 142px;
}
html,body{
    height: 100%;
}


.exp-item{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.icon-list{
    list-style: none;
    

}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding-right: 142px;
    padding-left: 142px;
    padding-top: 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: white;

}
.nav{
    display:flex;
    gap: 32px;
}

.a{
    text-decoration: none;
    list-style: none;
    z-index: 99;
}
.navigation{
    display: flex;
    gap: 48px;

}
.my-photo{
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 142px;
    display: flex;
    flex-direction: column;
    gap: 62px;

}
.exp-heading{
    font-size: 64px;
    font-weight: 600px;
    font-style: normal;
    line-height: 84px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    line-height: 84px;
    padding-left: 142px;
    padding-right: 142px;
}
.about-para{
    padding-left: 142px;
    padding-right: 142px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.buttons{
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 32px;
    padding-bottom: 12px;
    display: flex;
    gap: 16px;
    align-items:center;
    justify-content: center;
}

.primary-btn{
    display: flex;
    width: 160px;
    color: #FFFFFF;
    background-color: #03AFED;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    font-style: normal;
    cursor: pointer;

}

.secondary-btn{
    display: flex;
    width: 151px;
    border-radius: 10px;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor:pointer;
    line-height: 28px;
    font-style: normal;
}

.secondary-btn:hover{
    border: thick 2px black;
    background-color: black;
    color: #FFFFFF;
    transition: 2s ease;
}

.primary-btn:hover{
    background-color: #071E2E;
    color: #03AFED;
    transition: 2s ease;
}

.horizontal-line{
    background-color: #071E2E;
    padding-top: 96px;
    padding-bottom: 0px;
    height: 0.5px;
    padding-left: 142px;
    padding-right: 142px;

}

.circle{
    border: thick;
    background-color: aqua;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    }

.column{
    height:100%;
    width: 1px;
    background-color: aqua;
    flex-direction: column;
}


.line-circle{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 
}


.circle{
    border: thick;
    background-color: aqua;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 0px;


    }

.column{
   
    width: 1px;
    background-color: aqua;
    flex-direction: column;
    padding-bottom: 0%;
    height: 100%;
}
.exp-body{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    
}


.exp-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-left: 50px;
}


.horizontal-line{
    background-color: #071E2E;
    padding-top: 96px;
    padding-bottom: 96x;
    height: 0.5px;
    align-items: center;
}
.foot-text{
    padding-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.images{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.page-container{
    padding-left: 142px;
}
.footer{
    padding-bottom: 121px;
}
.my-photo{
    padding-left: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding-right: 0%;
}


.code-1{
    font-size: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}
.my-photo:hover .code-1{
    opacity: 0.10;
}
 

