body{
  background-color: black;  
}



#h2{
    color: rgb(244, 237, 237);
    margin-left: 80%;
}
#paragraph{
    color: rgb(247, 247, 247);
    text-align: center;
}
 #myphoto{
 float:right;
 margin-right: 50px;

}
#nametag{
    margin-left: 2%;
    color: azure;
}
#frontend{
    color: rgb(38, 13, 233);
}
#buttons{
    color: aqua;
    align: center;
}
#footers{
    text-align: center;
    margin-top: 80%;
}