*{
    padding:0px;
    margin:0px;
}
:root{
    --main-color: rgb(15,15,15);
    --main-font-color:rgb(254, 254, 254);
    --padding:20px;
    --normal-text-size:16px;
    --second-color:#03afed;
    --margin-left: 150px;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-color);
}
a{
    text-decoration: none;
    z-index: 99;
    color: var(--main-font-color);
}
nav{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 80%;
    height: 60px;
    z-index:1;
    

}
ul{
    display:flex;
    gap:30px;
    list-style: none;

    
}
.main{
    display: flex;

}
.page-container{
    padding: 142px;
}
.buttons{
    font-size: 18px;
    padding: 12px 48px;
    border-radius: 5px;
   
}
.primarybtn{
    background-color: #03afed;
    border: thick 2px white ;
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: none;transition: all 2s;
    cursor: pointer;
}
    
.secondarybtn{
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    color: #03afed;
    background-color: var(--main-color);
    border:1px solid #03afed;
    cursor: pointer;
}
.primarybtn:hover{
    background-color: var(--main-color);
    color: #03afed;
    border:2px solid #03afed;
}
.secondarybtn:hover{
    background-image: linear-gradient(--main-color,red);
    color: var(--main-font-color);
}
.text-main{
    font-size: 18px;
    font-weight: 600;
    line-height: 84px;
    animation: move 5s forwards ease-in-out infinite;
  }
  @keyframes move {
    from {
      border: 20px solid rgb(195, 255, 0);
      border-style: groove;
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
   
.photo{
    display: flex;
    flex-direction: row;

}

.content{
    height: 100vh;
}

.foot{
 display: flex;
 flex-direction: row;
 gap: 12px;
}
.span{
    color: #03afed;
}
.foot{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:750px){
   .main{
    flex-direction: column;
   } 
   .photo{
    order: 1;
   }
   .text-main{
    order: 2;
   }
   .text-main{
    width: 100%;
   }
   .content{
    height: 100%;
   }
   .page-container{
    padding: 0 3%;
   }
}




